<header class="header">
  <div class="container">
    <div class="logo">
      <img src="assets/img/logo.png" alt="logo tienda" />
    </div>
    <div class="menu">
      <nav>
        <ul class="item">
          <li><a >Principal</a></li>
          <li><a routerLink="/cursos">Cursos</a></li>
          <li><a >Precios</a></li>
          <li><a routerLink="/profesores">Profesores</a></li>
          <li><a >Contacto</a></li>
        </ul>
      </nav>
    </div>
    <div class="buscador">
      <li>
        <form action="">
          <input
            type="text"
            class="buscarOculto"
            name="buscar"
            id="input_buscar"
            placeholder="ingresa que quieres buscar"
          />
          <a id="buscando">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
        </form>
      </li>
    </div>
  </div>
</header>
